  <h2>Book detail</h2>
  <table>
    <tr>
      <td>
        <%= link_to user_path(@book.id) do %>
         <%= image_tag @book.user.get_profile_image(100,100) %>
        <% end %>
        <br>
        <%= link_to user_path(@book.user.id) do %>
         <%= @book.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(@book.id) do %>
         <%= @book.title %>
         <% end %>
        </td>
      <td><%= @book.body %></td>

    </tr>
  </table>
